{% extends "layout.html" %}
{% block content %}
	<h1>About page</h1>
	<div class="content-section">
	  <div class="media">
	  	<div class="media-body">
	  	<p class="text-secondary">
	  		We take this opportunity to express our heartfelt gratitude towards the <b>Department of Computer Engineering </b> that gave us an encouragement and opportunity for presenting our project in their esteemed organization. We are indebted and thankful to Professor for his keen interest, untiring suggestion and constant motivation during the course of our project despite of his busy schedule. Under his talented personalities we were able to make this project successful, which helped us immensely in applying the basic and fundamental knowledge in professional practice. It is with great pleasure that we express our deep sense of gratitude to his for marvelous guidance and patience throughout this project.
	  	</p>
	    <h4 class="text-secondary">Created By: </h4>

	    <h5 class="text-secondary">Jay Soni: </h5>
	    <h5 class="text-secondary">Dhairya Savlekar: </h5>
	    </div>
	  </div>
	</div>
{% endblock content %}