{% extends "layout.html" %}
{% block content %}
	<h1>Abstract</h1>
	<div class="content-section">
	  <div class="media">
	  	<div class="media-body">
	  	<p class="text-secondary">
	  		Image colorization is a challenging task and a topic of ongoing research in the area of Computer Vision. We present a convolutional-neural-network-based system that faithfully colorizes black and white photographic images without direct human assistance. We explore various network architectures, objectives, color spaces, and problem formulations. The final classification-based model we build generates colorized images that are significantly more aesthetically-pleasing than those created by the baseline regression-based model, demonstrating the viability of our methodology and revealing promising avenues for future work.
	  	</p>
	    </div>
	  </div>
	</div>
{% endblock content %}